---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Footer.astro';

const isHomepage = Astro.props.slug === '';
---

{
  isHomepage ? (
    <footer><a href="https://icp.gov.moe/?keyword=20241818" target="_blank">萌ICP备20240041号</a></footer>
  ) : (
    <Default {...Astro.props}>
      <slot />
    </Default>
  )
}
